[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keras = "*"
tensorflow = "==2.2.0"
matplotlib = "==3.2.1"
pillow = "==7.1.2"
python-slugify = "*"
cv2 = "*"
opencv-python = "*"
annoy = "*"
corpora = "*"
tensorflow-estimator = "==2.2.0"
tensorboard = "==2.2.2"
keras-preprocessing = "==1.1.2"
certifi = "==2020.4.5.2"
google-auth = "==1.17.2"
werkzeug = "==1.0.1"
cachetools = "==4.1.0"
google-pasta = "==0.2.0"
numpy = "==1.19.0rc2"
wheel = "==0.34.2"
six = "==1.15.0"
grpcio = "==1.30.0rc1"
kiwisolver = "==1.2.0"
markdown = "==3.2.2"
setuptools = "==47.1.1"
pyyaml = "==5.3.1"
protobuf = "==3.12.2"

[requires]
python_version = "3.7"
